<header class="flex justify-between py-[15px] px-[8%] items-center bg-black">
    <div>
        <img class="w-[50px] rounded-[53px]" src="https://w7.pngwing.com/pngs/977/162/png-transparent-video-game-game-controllers-gaming-miscellaneous-game-logo-thumbnail.png" alt="">
    </div>
    <div class="text-white flex gap-[10px]">
        <input type="text" class="w-[380px] h-[40px] bg-transparent border-solid border-white rounded-[25px]">
        <button class="font-medium border-solid border-white">
        <i class='bx bx-search text-[25px]'></i>
    </button>
    </div>
    <ul class="flex gap-[150px] text-white items-center justify-center">
        <li class="font-medium"><a href=""></a>Home</li>
        <li class="font-medium"><a href=""></a>Game</li>
    </ul>
</header>
